:root {
	--primary: #0d0d0d;
	--secondary: #e5e5e5;
	--accent: #ffa217;

	--google-blue: #4285f4;
	--google-blue-10: rgba(66, 133, 244, 0.1);
	--google-red: #db4437;
	--google-red-10: rgba(219, 68, 55, 0.1);
	--google-yellow: #f4b400;
	--google-yellow-10: rgba(244, 180, 0, 0.1);
	--google-green: #0f9d58;
	--google-green-10: rgba(15, 157, 88, 0.1);
}
